* {
  margin: 0;
  background-color: #000025;
}

body {
  overflow-x: hidden;
  background-color: #000025;
}

.container {
  --n: 0;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n)*100%);
  height: 100vh;
  max-height: 100vh;
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  background-color: #000025;
}
.container iframe {
  width: 100%;
  width: calc(100%/var(--n));
  height:100%;
  user-select: none;
  pointer-events: none;
  background-color: #000025;
}
